.player {
    max-width: 195px;
    height: 150px;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
}

#gameStatus {
    height: 50px;
}

#chatBox {
    max-width: 400px;
    height: 160px;
    border: 1px solid black;
    padding: 5px;
    overflow: scroll;
    margin-bottom: 5px;
}

#inputName {
    color: grey;
    margin-top: 5px;
}
